:root {
    --outer-padding: 32px;
}

.main-header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 32px;
    padding: 24px var(--outer-padding);
    align-items: start;
    align-items: center;
}

.menu {
    padding: 0;
    margin: 0;
    display: grid;
    grid-auto-flow: column;
    gap: 32px;
    justify-content: center;

    li {
        list-style: none;

        a {
            color: var(--bs-grey-800);
            font-size: 16px;
            font-weight: 500;
            text-decoration: none;

            &:hover {
                color: var(--bs-secondary);
            }
        }

        &.active {
            color: var(--bs-secondary);
        }
    }

    &.dark-bg {
        li {
            a {
                color: var(--bs-gray-100) !important;
                font-weight: 400 !important;
                font-size: 14px;
            }
        }
    }
}
